@import "functions";

// todo: timer tab is using the primary text color when timer is running
// todo: separate the timer display pane from the timer pane
// todo: support custom font for the current timer label

$DISABLED_ALPHA: 0.30;
$SIZE_BORDER_RADIUS: 4px;


$COLOR_FOREGROUND_DARK: black;
$COLOR_FOREGROUND_LIGHT: lighten(
  $color: $COLOR_FOREGROUND_DARK,
  $amount: 10
);

$COLOR_BACKGROUND_LIGHT: white;
$COLOR_BACKGROUND_NORMAL: darken(
  $color: $COLOR_BACKGROUND_LIGHT,
  $amount: 5
);
$COLOR_BACKGROUND_DARK: darken(
  $color: $COLOR_BACKGROUND_LIGHT,
  $amount: 10
);

$PANEL_BACKGROUND_COLOR: alpha(white, 0.5);
$PANEL_BORDER_COLOR: white;

$BORDER_COLOR_DARK: darken($color: $COLOR_BACKGROUND_DARK, $amount: 10);
$BORDER_COLOR_NORMAL: darken($color: $COLOR_BACKGROUND_NORMAL, $amount: 10);

$BORDER_COLOR_LIGHT_SELECTED: #148cd2;
$BORDER_COLOR_NORMAL_SELECTED: #1464a0;
$COLOR_BACKGROUND_LIGHT_DISABLED: alpha($COLOR_BACKGROUND_LIGHT, $DISABLED_ALPHA);
